<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-sca2le=1.0" />
  <title>Fressato Poços Artesianos</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap" rel="stylesheet" />
  <link rel="icon" href="../assets/images/LogoHeader.png" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
  <link rel="stylesheet" href="../views/indexStyle.css" />
  <script src="https://kit.fontawesome.com/ac13aaf08f.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="logo" src="../assets/images/LogoHeader.png" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse menu" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link text-uppercase" aria-current="page" href="#">Sobre</a>
            <a class="nav-link text-uppercase" href="#">Serviços</a>
            <a class="nav-link text-uppercase" href="#">Maquinário</a>
            <a class="nav-link text-uppercase" href="#">Contato</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <section>
      <div class="container-home">
        <img src="../assets/images/OrçamentoAgua.jpg" class="img-background" alt="Agua" />
        <h1 class="text-organizer fw-bold">
          Soluções em <br />abastecimento <br />de água
        </h1>
        <p class="text-organizer-p">
          A mais alta tecnologia e especiliadade<br />
          na perfuração de poços semi-artesianos,<br />
          artesianos e mini-poços.
        </p>
        <button type="button " class="btn btn-light btn-lg btn-organizer text-uppercase">
          faça um orçamento
        </button>
      </div>
    </section>
    <section>
      <div class="container-about">
        <img src="../assets/images/maquinarioImagemHomem.jpg" class="img-background-about" alt="Agua" />
        <div class="container">
          <h2 class="text-organizer-about-o fw-bolder text-uppercase">
            Sobre nós
          </h2>
          <h3 class="text-organizer-about fw-bold">
            Desde nossa<br />
            criação,
          </h3>
          <p class="text-organizer-about-p fw-bolder">
            trabalhamos para sempre desenvolver<br />
            da melhor forma possivel os poços<br />
            artesianos, e agora, com novas <br />
            tecnologias e técnicas, estamos<br />
            aprimorando nossas atividades para<br />
            fazer com que o seu objetivo de um<br />
            poço artesiano seja realizado.
          </p>

          <div class="btn-about">
            <button type="button" class="btn btn-primary btn-lg btn-organizer-about text-uppercase">
              Whatsapp
            </button>
            <button type="button" class="btn btn-primary btn-lg btn-organizer-about text-uppercase">
              Instagram
            </button>
          </div>
        </div>
      </div>
    </section>
    <section>
      <img src="../assets/images/imagemBolhas.png" class="img-background-work" alt="Agua" />
      <div class="container-work">
        <h2 class="text-organizer-work fw-bold">Serviços</h2>
          <div class="container-circular-1">
            <p class="text-organizer-work-p-1 fw-bolder"><br/><br/><br/>Perfuração de:</p>
          
            <img src="../assets/images/homensTrabalhando.jpg" class="img-circular-1" alt="homem trabalhando" />
            <p class="text-organizer-work-p-3"><br/> Poços artesianos<br/> Semi-artesianos<br/> Mini-poços tubulares</p>
          </div>
          <div class="container-circular-2">
            <p class="text-organizer-work-p-2 fw-bolder"><br/><br/><br/>Manutenção e <br/> </p>
          <img src="../assets/images/homensTrab2.jpg" class="img-circular-2" alt="homem trabalhando" />
          <p class="text-organizer-work-p-4 fw-bolder"> limpeza </p>
          <p class="text-organizer-work-p-5"> de poços</p>
          <p class="text-organizer-work-p-6"> tubulares e assistência<br/> em bombas submersas</p>
        </div>
      </div>
    </section>
    <section>
      <h3 class="text-organizer-machine fw-bolder">Nosso máquinário</h3>
      <div class="container-machine">
        <div class="card border border-white">
          <img src="../assets/images/imgMaquina.jpeg" class="img-top-machine" alt="" />
          <div class="card-body">
            <h5 class="card-title text-organizer-machine-o fw-bolder text-uppercase">
              Perfuratrizes de pequeno porte
            </h5>
            <p class="card-text text-organizer-machine-p">
              para perfuração até 40 metros ou até atingir a rocha. Ideal<br />
              para poços em residências ou locais cujo acesso não permite
              <br />
              a instalação de equipamentos maiores.
            </p>
          </div>
        </div>
        <div class="card border border-white">
          <img src="../assets/images/imgMaquina2.jpg" class="img-top-machine" alt="" />
          <div class="card-body">
            <h5 class="card-title text-organizer-machine-o fw-bolder text-uppercase">
              Sonda roto pneumática modelo er 150 <br />
              hidráulica
            </h5>
            <p class="card-text text-organizer-machine-p">
              Capacidade de perfuração de até 200 metros.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="container-guest">
      <div>
        <div class="map-guest">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3605.0035237728525!2d-49.182356984987!3d-25.371198383815624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce8c8874d101d%3A0x1f68a698b7e93410!2sR.%20Graciliano%20Ramos%2C%20591%20-%20Guarani%2C%20Colombo%20-%20PR%2C%2083409-350!5e0!3m2!1spt-BR!2sbr!4v1671152684502!5m2!1spt-BR!2sbr"
             width="700px" height="500px" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <h3 class="text-organizer-guest fw-bolder">
          Faça uma visita<br />
          ou converse<br />
          conosco
        </h3>
        <div>
          <button type="button" class="btn btn-primary btn-lg btn-organizer-guest text-uppercase ">
            Whatsapp
          </button>
          <button class="btn-organizer-guest-2">
            <i class="fa-brands fa-instagram"></i>
          </button>
        </div>
    </section>
    <section class="container-instagram">
      <h3 class="text-organizer-instagram fw-bolder">
        Instagram
      </h3>
      <div class="container">
        <img src="../assets/images/imgMaquina2.jpg" class="img-instagram" alt="">
        <img src="../assets/images/imgMaquina2.jpg" class="img-instagram" alt="">
        <img src="../assets/images/imgMaquina2.jpg" class="img-instagram" alt="">
        <img src="../assets/images/imgMaquina2.jpg" class="img-instagram" alt="">
        <img src="../assets/images/imgMaquina2.jpg" class="img-instagram" alt="">
        <img src="../assets/images/imgMaquina2.jpg" class="img-instagram" alt="">
        <img src="../assets/images/imgMaquina2.jpg" class="img-instagram" alt="">
        <img src="../assets/images/imgMaquina2.jpg" class="img-instagram" alt="">
      </div>
    </section>
  </main>
  <footer class="container-footer">
    <img src="../assets/images/LogoHeaderBranca.png" class="logo-img" alt="">
    <div class="container-info">
      <p><i class="fa-solid fa-envelope"></i>fressatopocoartesianos@gmail.com</p>
      <p><i class="fa-solid fa-phone"></i>(41) 99804-9907</p>
      <p><i class="fa-solid fa-location-dot"></i>R. Graciliano Ramos, 591 <br /> Guarani, Colombo</p>
    </div>
    <img src="../assets/images/imagemBolhas.png" class="img-background-bubbles" alt="">
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>

</body>

</html>