header{
    background-color: rgba(248, 248, 248, 0.733);
    width: 100%;
    height: 110px;
    left: 0px;
    position: fixed;
    top: 0px;
    text-align: right;
    
}


#logo{
    
    float: left;
    left: 30px;
    position: relative;
    top: -2px
    
    
}


#menu li{
    display: inline;
    margin-right: 50px;
    
}

#menu  li a{

    margin: 15px;
    display: inline-block;
    color: #157cb4;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 24px;
    font-size: 21px;
    margin-left: 10px;
    text-align: center;
    font-weight:400;
}





h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    font-size: 60px;
    margin-top: 150px;
    margin-left: 140px;
    line-height: 70px;
    position: relative;
    top: -825px;
    margin-left: 180px;
    
    
}



.textinho{
    color: white;
    margin-top: 1px;
    margin-left: 140px;
    font-size:19px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: -830px;
    margin-left: 180px;
}


.agua{
    margin: -8px;
    background-size: cover;
    padding: 490px;
    background-image: url(./images/capa\ site\ fressato.jpg);
    position: static;
    
    
    
}


#quadrado{
    width: 100%;
    height: 110px;
    left: 0px;
    position:absolute;
    top: 0px;
    background-color: rgb(255, 255, 255);
}


.btn{

    padding: 14px 15px;
    width: 180px;
    color:  #146b99;
    background-color: rgb(255, 255, 255);
    top: -815px;
    left: 175px;
    position: relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    border: 1px solid  #ffffff;
    border-radius: 50px;
    text-align: center;
    user-select: none;
    cursor: pointer;

}
.meio{
    background-image: url(./images/foto\ meio.jpg);
    position: static;
    background-size: cover;
    height: 990px;
    width: 700px;
    margin-top: -540px;
    margin-left: 70px;
    
}

.sobre{
    margin-top: 20px;
    margin-left: 925px;
    color:  #145f88;
    font-size: 30px;
    font-weight: 700;


    
}

.desde{

    margin-top: 60px;
    margin-left: 920px;
    color:  #157cb4;
    font-size: 70px;
    font-weight: 700;
}


.trabalhamos{

    margin-left: 920px;
    color:  #215d7e;
    font-size: 23px;
    position: relative;
    top: -840px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.btnw{

    padding: 14px 15px;
    width: 130px;
    color:  #ffffff;
    background-color:  #145f88;
    top: -815px;
    left: 912px;
    position: relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    border: 1px solid   #145f88;
    border-radius: 50px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.btni{

    padding: 14px 15px;
    width: 130px;
    color:  #ffffff;
    background-color:  #145f88;
    top: -867px;
    left: 1150px;
    position: relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    border: 1px solid   #145f88;
    border-radius: 50px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}




.bolhas{

        background-image: url(./images/Bolhas\ LP.png);
        margin: -8px;
        background-size: cover;
        padding: 500px;

}